@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/ndito-eka/public/fonts/Inter-Medium.ttf");
    font-family: "Inter";
    font-weight: 500;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/ndito-eka/public/fonts/Poppins-Bold.ttf");
    font-family: "Poppins";
    font-weight: 700;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/ndito-eka/public/fonts/Poppins-Light.ttf");
    font-family: "Poppins";
    font-weight: 300;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/ndito-eka/public/fonts/Poppins-Regular.ttf");
    font-family: "Poppins";
    font-weight: 400;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/ndito-eka/public/fonts/Poppins-Medium.ttf");
    font-family: "Poppins";
    font-weight: 500;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/ndito-eka/public/fonts/Poppins-SemiBold.ttf");
    font-family: "Poppins";
    font-weight: 600;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/ndito-eka/public/fonts/Rubik.ttf");
    font-family: "Rubik";
    font-weight: 700;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/ndito-eka/public/fonts/Rubik.ttf");
    font-family: "Rubik";
    font-weight: 400;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/ndito-eka/public/fonts/Rubik.ttf");
    font-family: "Rubik";
    font-weight: 600;
}
@font-face {
    font-display: swap;
    font-style: normal;
    font-family: "Inter";
    src: url("/ndito-eka/public/fonts/Inter-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-display: swap;
    font-style: normal;
    font-family: "Inter";
    src: url("/ndito-eka/public/fonts/Inter-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-display: swap;
    font-style: normal;
    font-family: "Inter";
    src: url("/ndito-eka/public/fonts/Inter-SemiBold.ttf");
    font-weight: 600;
}