body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: inherit;
    margin: unset;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    margin: 0;
    margin-inline: unset !important;
    padding: 0;
    list-style: none;
}

input {
    background-color: transparent;
    width: 100%;
}

input:focus {
    outline: none;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    box-shadow: 0 0 0 3px #253451 inset;
    border-radius: 50%;
    position: relative;
    animation: l6 1.5s linear infinite;
}

.loader:before {
    content: "";
    position: absolute;
    top: 100%;
    box-shadow: inherit;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
}

@keyframes l6 {
    to {
        transform: rotate(360deg);
    }
}