.dot {
    margin: 10px 10px 0px;
    height: 5px;
    width: 5px;
    line-height: 50px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
}

.news-blog h4 {
    color: #1c2841;
}

.read-more {
    color: #1c2841;
    border-bottom: 1px solid #1c2841;
}

.read-more:hover {
    color: #1c2841;

}

.big-header {
    font-size: 2.2em;
    background: #2c2727;
    color: #fff;
    padding: 0.3em 0;
}

@media screen and (max-width:992px) {
    .big-header {
        font-size: 1.4em;
    }

}

.line {
    width: 100%;
    height: 1px;
    background: #2c2727;
    margin-top: 1em;
    display: block;
    margin-bottom: 3em;
}

.donate {
    padding: 1em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.donate a:hover {
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.news-card {
    padding: 0.5em;
}

.news-card h3 {
    padding: 0.5em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    color: #000;
}

.news-card a {
    font-size: 0.9em;
    color: #474545;
}

.news-card span {
    font-size: 0.9em;
    color: #797676;
}

.news-card img {
    width: 100%;
    height: auto;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e7e7e7;
    border-radius: 2em;
    padding: 4em 1.3em;
}

.growth span {
    font-size: 1.2em;
    border-bottom: 1px solid #202020;
    color: #202220;
    display: inline-block;
    margin-bottom: 1em;
}

.blog-detail span {
    color: #253451a8;
    font-size: 0.9em;
}

.blog-detail h3 {
    color: #253451;
    font-size: 2.5em;
}

.blog-detail p {
    color: #223f79;
    font-size: 1.2em;
}

.blog-img {
    position: relative;
}

.blog-img img {
    display: block;
    /* position: absolute; */
    height: 90%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}


@media screen and (width:768px) {
    .blog-img img {
        position: static !important;
    }
}

.read-more {
    color: #223f79;
    border-bottom: 1px solid #223f79;

}

.read-more:hover {
    color: #223f79;

}

.dot {
    margin: 0px 10px 3px;
    height: 5px;
    width: 5px;
    background-color: #253451a8;
    border-radius: 50%;
    display: inline-block;
}

.bg-aliceblue {
    background-color: #f0f8ff;
}

.card img {
    border-radius: 50%;
}

.blockquote {
    font-size: 1.6em;
    font-weight: 500;
}

.blockquote-footer {
    font-size: 2em;
    font-weight: 600;
}

em {
    font-size: 0.7em;
    color: #000;
}